version: '3.7'

services:
  web:
    image: {{ image_name.image.RepoTags[0] }}
    networks:
      - local
    volumes:
      - static_volume:/opt/app/static
    expose:
      - "8000"
    command: gunicorn Blog.wsgi:application --bind 0.0.0.0:8000
    depends_on:
      - db
    restart: always
  db:
    image: postgres:latest
    networks:
      - local
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
  nginx:
    build: ./nginx
    networks:
      - local
    volumes:
      - static_volume:/opt/app/static
    ports:
      - 8000:8000
    depends_on:
      - web
    restart: always

volumes:
  postgres_data:
  static_volume:

networks:
  local:
